@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
    border: 2px solid black;
    margin: 100px 100px 100px 100px;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.Login{
    padding:20px;
}

.control-label{
    float: left;
}
