@media all and (min-width: 480px) {
  .Slides {
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
  }
}
.Slides {
    padding: 100px 0;
}
.logoutButton{
    position: absolute;
    top: 20px;
    right: 20px;
}